<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/gui.css">
</head>

<body style="background:rgb(197, 75, 75)">
    <div class="login-page">
        <div class="form">
            <h1>
                404 Not Found
            </h1>
            <img src="/imgs/crossmark.png" style="width: 230px; margin-top: 0px; margin-bottom: 20px;">
            <a href="/">
                <button class="btn btn-gray">Back to map</button>
            </a>
        </div>
    </div>
</body>

</html>

