<%- include header.ejs %>

<body style="background:rgb(197, 75, 75)">
    <div class="login-page">
        <div class="form">
            <h1>Link has expired</h1>
            <p style="font-size: 20px;">Please request a new link</p>
            <img src="/imgs/crossmark.png" style="width: 210px; margin-top: 20px; margin-bottom: 20px;">
            <a href="/">
                <button class="btn btn-gray">Back to map</button>
            </a>
        </div>
    </div>
</body>

<%- include footer.ejs %>
