<%- include header.ejs %>

<div class="login-page">
    <div class="form" style="max-width: 520px; height: 350px;">
        <h2>Email sent Successfully !</h2>
        <img src="/imgs/checkmark.png" style="width: 200px;">
        <a href="/" style="display: block;">
            <button class="btn btn-gray">Back to map</button>
        </a>
    </div>
</div>

<%- include footer.ejs %>
