<%- include header.ejs %>

<div class="login-page">
    <div class="form" style="max-width: 520px; height: 350px;">
        <h2>Change Successfully !</h2>
        <img src="/imgs/checkmark.png" style="width: 100px;"><br>
        <% if(relogin){ %>
            <p>You may press LOGIN to continue.</p>
        <a href="/login">
            <button class="btn btn-green" style="width: 50%;">LOGIN</button>
        </a>
        <% } %>
        <a href="/">
            <button class="btn btn-gray">Back to map</button>
        </a>
    </div>
</div>

<%- include footer.ejs %>
