<%- include header.ejs %>

<div class="login-page">
    <div class="form">
        <h2>Forget password</h2>
        <form class="login-form" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="text" name="username" id="username" placeholder="username" />
            <input type="text" name="email" id="email" placeholder="Email address" />
            <% if(typeof errors != 'undefined'){ %>
                <% errors.forEach(error => { %>
                    <font color="red"><%= error.msg %></font><br>
                <% }); %>
            <% } %>
            <button type="submit" class="btn btn-green">Submit</button>
        </form>
        <a href="/">
            <button class="btn btn-gray">Back to map</button>
        </a>
    </div>
</div>

<%- include footer.ejs %>
