<%- include header.ejs %>

<div class="login-page">
    <div class="form" style="max-width: 520px; height: 350px;">
        <h2>Registration Mail Sent !</h2>
        <img src="/imgs/checkmark.png" style="width: 100px;">
        <p>Please check mailbox to get registration link.</p>
        <a href="/register">
            <button class="btn btn-green" style="width: 50%;">Register another user</button>
        </a>
        <a href="/">
            <button class="btn btn-gray">Back to map</button>
        </a>
    </div>
</div>

<%- include footer.ejs %>
