<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/gui.css">
</head>
<div class="login-page">
    <div class="form" style="max-width: 520px; height: 350px;">
        <h2>Register Successfully !</h2>
        <img src="/imgs/checkmark.png" style="width: 100px;"><br>
        <a href="/login">
            <button class="btn btn-green" style="width: 50%;">LOGIN</button>
        </a>
        <a href="/">
            <button class="btn btn-gray">Back to map</button>
        </a>
    </div>
</div>

</html>
