<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/gui.css">
</head>
<div class="login-page">
    <div class="form" style="max-width: 520px; height: 350px;">
        <h2>Registration link is expired !</h2>
        <img src="/imgs/crossmark.png" style="width: 100px;">
        <p>Please ask admin to get a new link.</p>
        <a href="/">
            <button class="btn btn-gray">Back to map</button>
        </a>
    </div>
</div>

</html>
